/* src/index.css */

/* A modern CSS reset to ensure consistent behavior across browsers */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Apply the global font and background color here */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f7f9; /* The light grey background */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}